*.env
*.env.*
*.txt
*.log
*.cast
*.agents
coverage/
# Exclude files that sure to share it: 
!*.env.example
!README.md
!.vscode
!.husky
__test_fcm
secrets
/node_modules
/dist
_/
*.bak*
logs/
__temp
redirect.py
__pycache__/redirect.cpython-314.pyc
# Added by code-review-graph
.code-review-graph/
AGENTS.md
CLAUDE.md
commands.log.md
GEMINI.md
QODER.md
.claude
.gemini
.github
.kiro
.pnpm-store
.qoder
.opencode.json
.cursorrules
.windsurfrules
uploads/
