{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["<BUILTIN_MODULES>", "", "<THIRD_PARTY_MODULES>", "", "^[.]"],
  "importOrderParserPlugins": ["typescript"],
  "importOrderTypeScriptVersion": "5.9.3",
  "importOrderCaseSensitive": false
}
