PORT=
CLIENT_URL=
NODE_ENV=
# DATABASE=
DATABASE=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

BCRYPT_SALT_ROUNDS=
HOST_ON=
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
OTP_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=
TOKEN_EXPIRES=

EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
FIREBASE_KEY_PATH=

MAILTRAP_TOKEN=
DEV_EMAIL_HOST=
DEV_EMAIL_PORT=
DEV_EMAIL_USER=
DEV_EMAIL_PASSWORD=

EMAIL_SENDER_API=

REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

JWT_M2M_SECRET=
JWT_M2M_EXPIRES_IN=
FASTAPI_INTERNAL_URL=
FASTAPI_INTERNAL_JWT_SECRET=

RESEND_API=

GOOGLE_CLIENT_ID=